absl-py==2.4.0
aiohappyeyeballs==2.6.1
aiohttp==3.13.5
aiosignal==1.4.0
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.13.0
asgiref==3.11.1
attrs==26.1.0
certifi==2026.4.22
charset-normalizer==3.4.7
click==8.3.3
edge-tts==7.2.8
etils==1.14.0
fastapi==0.136.1
filelock==3.29.0
frozenlist==1.8.0
fsspec==2026.4.0
glfw==2.10.0
gstreamer_bundle==1.28.1
gstreamer_cli==1.28.2
gstreamer_gtk==1.28.2
gstreamer_libs==1.28.2
gstreamer_plugins==1.28.2
gstreamer_plugins_gpl==1.28.2
gstreamer_plugins_gpl_restricted==1.28.2
gstreamer_plugins_libs==1.28.2
gstreamer_plugins_restricted==1.28.2
gstreamer_python==1.28.2
h11==0.16.0
hf-xet==1.5.0
httpcore==1.0.9
httptools==0.7.1
httpx==0.28.1
huggingface_hub==1.3.0
idna==3.14
ifaddr==0.2.0
importlib_resources==7.1.0
Jinja2==3.1.6
libusb-package==1.0.26.3
log-throttling==0.0.3
markdown-it-py==4.2.0
MarkupSafe==3.0.3
mdurl==0.1.2
mujoco==3.3.0
multidict==6.7.1
numpy==2.4.4
packaging==26.2
prompt_toolkit==3.0.52
propcache==0.5.2
psutil==7.2.2
pycairo==1.27.0
pydantic==2.13.4
pydantic_core==2.46.4
Pygments==2.20.0
PyGObject==3.50.2
PyOpenGL==3.1.10
pyserial==3.5
python-dotenv==1.2.2
python-multipart==0.0.28
pyusb==1.3.1
PyYAML==6.0.3
questionary==2.1.1
reachy_mini==1.7.1
reachy_mini_motor_controller==1.5.5
reachy_mini_rust_kinematics==1.0.3
requests==2.34.0
rich==15.0.0
rustypot==1.4.2
scipy==1.17.1
setuptools==82.0.1
shellingham==1.5.4
starlette==0.52.1
tabulate==0.10.0
toml==0.10.2
tornado==6.5.5
tqdm==4.67.3
typer==0.25.1
typer-slim==0.24.0
typing-inspection==0.4.2
typing_extensions==4.15.0
urllib3==2.7.0
uvicorn==0.46.0
uvloop==0.22.1
watchfiles==1.1.1
wcwidth==0.7.0
websockets==15.0.1
yarl==1.23.0
zeroconf==0.148.0
zipp==3.23.1
